# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish
qunit/tests.js

# Mac crap
.DS_Store
.sass-cache/*
debug/
release/
build/
node_modules/

qunit/app.js
qunit/lib.js
qunit/app.css
qunit/lib.css
